name: ML Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Prepare data
        run: |
          source venv/bin/activate
          python main.py --prepare

      - name: Train model
        run: |
          source venv/bin/activate
          python main.py --train

      - name: Evaluate model
        run: |
          source venv/bin/activate
          python main.py --evaluate

      - name: Predict
        run: |
          source venv/bin/activate
          python main.py --predict
